@charset "utf-8";
/* CSS Document */

html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 1200px;
    height: 100%;
    color: #333333;
    font-family: "Noto Sans CJK SC", "Source Han Sans CN", "PingFangSC-Regular", "Microsoft YaHei", sans-serif;
    user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

}

a {
    color: #1b75bc;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: #c1272d;
}

a:active {
    color: #f04e4d;
}

.title {
    width: 100%;
    height: 150px;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #323232;
    z-index: 3;
    box-shadow: 0 0 8px #000000;
}

.logo {
    width: auto;
    height: auto;
}

.logo_img {
    width: 200px;
}

.title_text {
    width: 500px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
}

.main {
    width: 100%;
    height: 100%;
    min-height: auto;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu {
    width: 300px;
    height: 100%;
    min-height: 800px;
    background-color: #787878;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

.sub {
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #c8c8c8;
    background-color: #646464;
    border-top: solid 1px rgb(68, 68, 68);
}

.list {
    width: 280px;
    height: auto;
    background-color: #787878;
    padding: 10px;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.list_link {
    display: inline;
    padding: 3px 8px 3px 8px;
    line-height: 24px;
    text-align: center;
    color: #c8c8c8;
}

.list_link:hover {
    color: #ffffff;
    transition: color 0.3s;
    -moz-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
}

div.copy {
    width: 100%;
    flex-grow: 1;
    position: relative;
}

p.copy {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #dddddd;
}

a.copy {
    color: #dddddd;
}

a.copy:hover {
    color: #ffffff;
}

iframe {
    width: 100%;
    height: 100%;
}

.frame {
    overflow: hidden;
    width: auto;
    height: 100%;
    min-height: 800px;
    flex-grow: 1;
    z-index: 2;
    box-shadow: 0 0 8px #000000;
}

.menu_mobile {
    display: none;
}

/* default */

.default {
    min-width: 900px;
}

.main_default {
    width: 900px;
    margin-top: 100px;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 900px;
    height: auto;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.card_text {
    margin: 30px;
}

.introduce {
    background-color: #eeeeee;
    width: 800px;
    margin: 20px 0 20px 0;
    padding: 20px 50px 20px 50px;
}

.feedback {
    width: 800px;
    padding: 20px 50px 20px 50px;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.fb {
    margin-left: 100px;
}

p.fb {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

span.fb {
    margin-left: 25px;
}

span.mail {
    margin-left: 25px;
    user-select: text;
    -webkit-touch-callout: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    -khtml-user-select: text;
}