@charset "utf-8";
/* CSS Document */

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #333333;
    font-family: "Noto Sans CJK SC", "Source Han Sans CN", "PingFangSC-Regular", "Microsoft YaHei", sans-serif;
    user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
}

a {
    color: #1b75bc;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: #c1272d;
}

a:active {
    color: #f04e4d;
}

.title {
    width: 100%;
    height: 3.5em;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    z-index: 3;
    border-bottom: solid 1px #dddddd;
}

.logo {
    display: none;
}

.title_text {
    text-align: center;
}

h1 {
    font-size: 1.5em;
    color: #777777;
    font-weight: normal;
}
.slogan {
    display: none;
}
.main {
    width: 100%;
    height: 100%;
    min-height: auto;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu {
    display: none;
}

iframe {
    width: 100%;
    height: 100%;
}

.frame {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    z-index: 2;
}

.menu_mobile {
    width: 100%;
    height: 5em;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: #ffffff;
    border-top: solid 1px #dddddd;
}

.button {
    width: 20%;
    height: 5em;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.menu_logo {
    width: 100%;
    height: 2em;
    text-align: center;
    line-height: 2em;
}

.menu_name {
    width: 100%;
    height: 1.5em;
    text-align: center;
    color: #666;
}

/* default */

.main_default {
    margin-top: 1em;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.cassette {
    width: 40%;
    padding-left: 2em;
}

.card_cassette {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    height: auto;
    display: flex;
    display: -webkit-flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.card_text {
    line-height: 1em;
    margin: 2em;
}

.introduce {
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    margin: 1em 0 1em 0;
    padding: 1em 2em 1em 2em;
}

.feedback {
    width: 100%;
    height: auto;
    padding: 1em 2em 1em 2em;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

p.fb {
    margin-left: 1em;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

span.fb {
    margin-left: 2em;
}

span.mail {
    margin-left: 2em;
}

.qrcode {
    width: 100%;
    height: auto;
    min-height: 256px;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}