@charset "utf-8";
/* CSS Document */

html {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: auto;
    padding: 0.5rem;
    max-width: 70rem;
    font-family: 'Microsoft JhengHei','Microsoft YaHei',sans-serif;
    font-size: 1rem;
    color: #666;
}

h3 {
    text-align: center;
    color: #666;
}

table {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow:hidden;
}

th {
    color: #FFF;
    background-color: #bebebe;
    border-color:rgb(255,255,255);
}

td {
    text-align: center;
    background-color: #ececec;
    border-color:rgb(255,255,255);
}

/*Default*/

.default {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:center;
    padding: 0 1rem;
}

.float {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;    
}

/* Plant */
.spring {color: #ce181e; background-color: #fcd4d1;}
.title_spring {color: #FFF; background-color: #fc706f;}
.class_spring {background-color: #ff8f86; color: #FFF;}
.summer {color: #006c3b; background-color: #e0efd4;}
.title_summer {color: #FFF; background-color: #89c765;}
.class_summer {background-color: #add58a; color: #FFF;}
.autumn {color: #985006; background-color: #ffe5ca;}
.title_autumn {color: #FFF; background-color: #f79448;}
.class_autumn {background-color: #f9a870; color: #FFF;}
.winter {color: #006d6f; background-color: #bce4e5;}
.title_winter {color: #FFF; background-color: #00b6bd;}
.class_winter {background-color: #59c5c7; color: #FFF;}
.grain {color: #006c3b; background-color: #bee3d3;}
.title_grain {color: #FFF; background-color: #08b569;}
.class_grain {background-color: #65c295; color: #FFF;}

.title {
    background-color: #999;
    font-size: 1.25rem;
    height: 3rem;
}

.red {color: #f04e4d;}
.blue {color: #1b75bc;}
.green {color: green;}
.orange {color: orange;}
.silvery {color: silver;}
.gold {color: gold;}
.flower {color: #FA8072;}
.mineral {color: tan;}
.insect {color: #9ACD32;}
.fish {color:#4169E1}
.cheese {color:#ff7300;}
.other {color: brown;}
.drug {color: violet;}
.purple {color:#8A2BE2}

.name {background-color: #888;}
.link {color: #666; text-decoration:none;}
.link:hover {background-color: #eee;}

.map {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
